<div ng-include="'components/navbar/navbar.html'"></div>


<div style="background: url('assets/images/city.jpg')no-repeat center center fixed; width:100%;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
   <div class="container">
     <div class="row">

        <p>&nbsp;</p>

        <div class="col-md-10 col-md-offset-1 panel" style="padding: 50px 30px 40px 30px; overflow:hidden">



             <h1 style="color:red; margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px;">Add to your Wish List, <span class="cap">{{ getCurrentUser().name }}</span></h1>
             <hr style="margin-top:30px;margin-bottom:10px">




             <form class="location-form" ng-submit="addwishlist()" name="locationForm" style="margin-top:20px;">
                   <div class="row">
                     <div class="form-group col-md-8 col-md-offset-2">
                      <label for="exampleInputEmail1"><i class="fa fa-rocket"></i></label>
                       <input type="things" class="form-control cap input-lg" ng-model="name" mongoose-error placeholder="Item" required />
                     </div>
                   </div>

                   <div class="row">
                     <div class="form-group col-md-8 col-md-offset-2">
                       <label for="exampleInputPassword1"><i class="fa fa-building-o"></i></label>
                       <input type="things" class="form-control cap input-lg" ng-model="store" mongoose-error placeholder="Store"/>
                     </div>
                   </div>

                   <div class="row">
                     <div class="form-group col-md-8 col-md-offset-2">
                       <label for="exampleInputPassword1"><i class="fa fa-pencil-square-o"></i></label>
                       <!--<textarea type="things" ui-tinymce="tinymceOptions" ng-model="other" class="form-control input-lg" rows="6" mongoose-error placeholder="Detials"/></textarea>-->
                       <textarea ui-tinymce="tinymceOptions" rows="10" ui-tinymce class="form-control" type="text" ng-model="other"></textarea>

                     </div>
                   </div>

                   <div class="row">
                     <div class="form-group col-md-8 col-md-offset-2">
                       <button class="btn btn-lg btn-success" type="submit" style="margin-top:0px;display:block;width:100%" ng-disabled="locationForm.$invalid" value="Post">
                          <i class="fa fa-gift" style="color:#fff; font-size:1.5em"></i>
                       </button>
                     </div>
                   </div>
             </form>



             <div style="height:50px;"></div>



             <div class="row">
               <div class="form-group col-md-8 col-md-offset-2">

                    <h4 style="margin-bottom:30px;">My Wish List</h4>
                    <div ng-repeat="gift in wishlists | filter: user">
                       <ul class="locateList">
                          <li>
                             <span class="bold"><span class="cap">{{ gift.name }}</span></span><br>
                             <span class="hl">Store:</span> <span class="cap">{{ gift.store }}</span> <br>
                             <span class="hl">More Info:</span>
                             <div class="htmlTxt ng-binding" ng-bind-html="gift.other"></div>
                             <button type="button" class="close" ng-click="deletewishlist(gift)">&times;</button><br>
                          </li>
                       </ul>
                       <hr style="margin-top:30px;margin-bottom:10px">
                    </div>

                    <br><br>

                    <div ng-show="isAdmin()">
                       <h4 style="margin-bottom:30px;">All Gifts</h4>
                       <div ng-repeat="gift in wishlists">
                          <ul class="locateList">
                             <li><strong class="cap">{{ gift.author.name }}</strong>&nbsp;&nbsp;&nbsp;<span class="bold cap">{{ gift.name }}</span><a type="button" class="close" ng-click="deletewishlist(gift)">&times;</a></li>
                          </ul>
                       </div>
                       <hr style="margin-top:30px;margin-bottom:10px">
                    </div>

               </div>
             </div>



             <div style="height:50px;"></div>



             <div class="row">
                <div class="col-md-8 col-md-offset-2">

                     <h4 style="margin-bottom:30px;">Change Password</h4>

                     <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                       <div class="form-group">
                         <label>Current Password</label>
                         <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                                mongoose-error/>
                         <p class="help-block" ng-show="form.password.$error.mongoose">
                             {{ errors.other }}
                         </p>
                       </div>

                       <div class="form-group">
                         <label>New Password</label>

                         <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                                ng-minlength="3"
                                required/>
                         <p class="help-block"
                            ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                           Password must be at least 3 characters.
                         </p>
                       </div>

                       <p class="help-block"> {{ message }} </p>

                       <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
                     </form>
                </div>
             </div>




             <div style="height:50px;"></div>



         </div>





     </div>
   </div>
</div>
